<style>
body {
	background: #1c1c1f;
}
</style>

<div class="well" style="text-align:center; margin-top:100px;">
		<div class="page-header">
  			<h1> War Room <br><small><a href="tablechat">join the table.</a></small></h1>
		</div>
</div>